header.header-section.sp-pad
  img(src='/ImageFiles/Logo/prelogo.png').img-fluid#CompanyLogo
  div.nav-switch
    i.fa.fa-bars
  nav.main-menu
    ul
      li
        a(href='/') Home
      li
        a(href='/products') Products
      li
        a(href='/products') About Us
      
